<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>Cake Factory</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
	integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
	crossorigin="anonymous" />
</head>
<body>
	<div class="ui two column stackable grid">

		<!-- ==================== Main menu ==================== -->
		<div class="sixteen wide column">
			<div class="ui small menu" style="background-color: #8C5B3E">
				<div class="item">
					<h3 class="ui yellow header">Cake Factory</h3>
				</div>
				<div class="right menu">
					<div class="item">
						<div class="ui orange button">Sign Up</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ==================== Main menu ==================== -->

		<!-- ==================== Secondary menu ==================== -->
		<div class="two wide column">
			<div class="ui vertical menu">
				<a class="item">
					<h4 class="ui header">Promotions</h4>
					<p>Check out our new promotions</p>
				</a> <a class="item">
					<h4 class="ui header">Coupons</h4>
					<p>Check out our collection of coupons</p>
				</a> <a class="item">
					<h4 class="ui header">Recipes</h4>
					<p>Visit our forum for information on delicious recipes</p>
				</a>
			</div>
		</div>
		<!-- ==================== Secondary menu ==================== -->

		<!-- ==================== Main Content ==================== -->
		<div class="fourteen wide column">
			<div class="ui placeholder segment">
				<p></p>
			</div>

			<div class="ui three column stackable grid">
				<div class="column">
					<div class="ui segments">
						<div class="ui segment">
							<p>image</p>
						</div>
						<div class="ui segment">
							<h3 class="ui yellow header">Item one</h3>
							<a class="ui olive tag label"> $10.00 </a>
							<p>Some awesome product description comes here Some awesome
								product description comes here Some awesome product description
								comes here</p>
						</div>
						<div class="ui secondary segment">
							<p>Secondary Content</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui segments">
						<div class="ui segment">
							<p>image</p>
						</div>
						<div class="ui segment">
							<h3 class="ui yellow header">Item two</h3>
							<a class="ui olive tag label"> $10.00 </a>
							<p>Some awesome product description comes here Some awesome
								product description comes here Some awesome product description
								comes here</p>
						</div>
						<div class="ui secondary segment">
							<p>Secondary Content</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui segments">
						<div class="ui segment">
							<p>image</p>
						</div>
						<div class="ui segment">
							<h3 class="ui yellow header">Item three</h3>
							<a class="ui olive tag label"> $10.00 </a>
							<p>Some awesome product description comes here Some awesome
								product description comes here Some awesome product description
								comes here</p>
						</div>
						<div class="ui secondary segment">
							<p>Secondary Content</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui segments">
						<div class="ui segment">
							<p>image</p>
						</div>
						<div class="ui segment">
							<h3 class="ui yellow header">Item four</h3>
							<a class="ui olive tag label"> $10.00 </a>
							<p>Some awesome product description comes here Some awesome
								product description comes here Some awesome product description
								comes here</p>
						</div>
						<div class="ui secondary segment">
							<p>Secondary Content</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui segments">
						<div class="ui segment">
							<p>image</p>
						</div>
						<div class="ui segment">
							<h3 class="ui yellow header">Item five</h3>
							<a class="ui olive tag label"> $10.00 </a>
							<p>Some awesome product description comes here Some awesome
								product description comes here Some awesome product description
								comes here</p>
						</div>
						<div class="ui secondary segment">
							<p>Secondary Content</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="ui segments">
						<div class="ui segment">
							<p>image</p>
						</div>
						<div class="ui segment">
							<h3 class="ui yellow header">Item six</h3>
							<a class="ui olive tag label"> $10.00 </a>
							<p>Some awesome product description comes here Some awesome
								product description comes here Some awesome product description
								comes here</p>
						</div>
						<div class="ui secondary segment">
							<p>Secondary Content</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ==================== Main Content ==================== -->

	</div>
</body>
</html>